<!-- Footer -->
<footer class="footer">
    <a href="#" class="footer-logo" aria-label="Scroll to top" id="scroll-to-top">
        <img src="images/ui/footer-logo.svg" loading="lazy" alt="Scroll to top" class="footer-logo-img">
    </a>
    
    <div class="footer-bar"></div>
    
    <div class="footer-copyright">
        <p>@ <span id="footer-year">2024</span> Douglas Fraize</p>
    </div>
    
            <div class="footer-links">
            <a href="about.html">About</a>
            <a href="portfolio.html">Portfolio</a>
            <a href="resume.html">Resume</a>
        </div>
    
    <div class="footer-contact">
        <a href="https://www.linkedin.com/in/dfraize" target="_blank" rel="noopener noreferrer">LinkedIn Profile</a>
    </div>
</footer>
